<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
</head>
<body>
    <h1>第09章：案例</h1>
    <ul>
        <li>
            <a href="/app/user/add/">添加一个系统用户User（admin, 123）</a><br/>
        </li>
        <li>
            <a href="/app/details/">点击访问资源详细信息（需登录认证通过后方可访问）</a>
        </li>
        <li>
            <a href="/app/user/create">User创建用户（带扩展字段）</a>
        </li>
        <li>
            <a href="/app/user/create">用户登录+退出</a>
        </li>
        <li>
            <a href="/app/group/create">Group组的创建</a>
        </li>
        <li>
            <a href="/app/group/queryall">Group组列表显示</a>
        </li>
        <li>
            <a href="/app/group/manager">组用户管理</a>
        </li>
    </ul>
</body>
</html>