<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <script type="text/javascript" src="{% static 'script/home.js' %}"></script>
</head>
<body>
    {% include 'header.html' %}

    <h2>account</h2>
    <img src="" alt="">

    {% include 'footer.html' %}
    
</body>
</html>