<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <script type="text/javascript" src="{% static 'script/blog.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
</head>
<body>
    <dir class="topDivBG">
        <div class="topDiv">
            <h2>BLOG online 个人博客</h2> 
            <span>
                欢迎{{ account }}
                <a href="/blog/logout/">[退出]</a>
            </span> 
        </dir>
    </div>
        
    <div class="topPicDiv">
        
    </div>
    
    <div class="midDiv">
        
        <div class="leftDiv">
            
        </div>

        <div class="rightDiv">
            
        </div>
        
    </div>
        

</body>
</html>