<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <style></style>
    <script type="text/javascript" src="{% static 'script/global.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/test.css' %}" type="text/css" >
</head>
<body>
    <h1>你好！Manchester</h1>
    <img src="{% static 'images/3b1b.jpg' %}" alt="">
    <ul>
        <li>
            <a href="#">接收客户端GET请求参数</a>
            <label for="">http://127.0.0.1:8000/app01/</label>
        </li>
        <li>
            <a href="#">接收客户端GET请求参数</a>
            <label for="">http://127.0.0.1:8000/app01/</label>
        </li>
        <li>
            <h2><a href=""></a>
            </h2>
            <form id="greatingForm" method="post" action="../greeting/">
                {% csrf_token %}
                <label for="" >请输入您的姓名：</label>
                <input type="text" name="userName" id="userName" placeholder="关键字" required>
                <button type="submit">确定</button> 
            </form>
        </li>


        <table class="songsTable">
            豆瓣新碟
            {% for item in songs %}
            <tr>
                <td>
                    {{ item.rank }}
                </td>
                <td>
                    {{ item.name }}
                </td>
                <td>
                    {{ item.time }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <table class="songsTable">
            豆瓣新歌
            {% for item in songs %}
            <tr>
                <td>
                    {{ item.rank }}
                </td>
                <td>
                    <img src="/static/images/{{ item.name }}">
                </td>
                <td>
                    {{ item.time }}
                </td>
            </tr>
            {% endfor %}
        </table>

        <label >http://localhost:8000/category/add/</label>
        <form action="/test/" method="POST">
            {% csrf_token %}
            <input type="text" name="BookCategory" id="">
            <input type="submit" value="上传数据库">
        </form>
        <ul>
            {{ lstBookCategory }}
            {% for item in lstBookCategory %}
            <li> 
                {{ item.bcid }} - {{ item.bcname }}
            </li>
            {% empty %}
            {% endfor %}
        </ul>

        <table class="depTable">
            <tr>
                <td>部门编号</td>
                <td>部门名称</td>
                <td>部门所在地</td>
                <td>编辑操作</td>
            </tr>
            {% for dep in lstDepInfo %}
            <tr>
                <td>{{ dep.depId }}</td>
                <td>{{ dep.depName }}</td>
                <td>{{ dep.depLoc }}</td>
                <td>
                    <input type="button" value="更新">
                    <input type="button" value="删除">
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">暂无数据</td>
            </tr>
            {% endfor %}
        </table>
        <a href="">添加部门信息</a>



    </ul>

</body>
</html>