<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>案例1：单文件上传</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
</head>
<body>
    <h1>案例1：单文件上传</h1>
    <ul>
        <li><label class="tooltip">使用form表单发送文件上传的请求，并设置提交请求模式为POST；</label></li>
        <li><label class="tooltip">使用form标签必须添加属性 enctype="multipart/form-data"；</label></li>
        <li><label class="tooltip">使用file文件域表单输入元素实现客户端文上传的文件的选择</label></li>
    </ul>
    <!-- 文件上传表单 -->
    <form id="fileuploadForm" name="fileuploadForm" method="post" enctype="multipart/form-data" action="/app/fileupload/">
        {% csrf_token %}
        <!-- 提示信息 -->
        <label class="input_font">上传文件：</label>
        <!-- 表单输入元素文件域组件（本地文件选择器） -->
        <input type="file" id="uploadFile" name="uploadFile" required/>
        <!-- 提交按钮 -->
        <button type="submit" class="btnsubmit">上传</button>
    </form>
    <!-- 服务器响应信息提示 -->
    <label class="success_msg">{{ success_msg }}</label>
    <label class="error_msg">{{ error_msg }}</label>
</body>
</html>