<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django第04章</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
</head>
<body>
    <h1>第04章：案例</h1>
    <ul>
        <li>
            <a href="/app/fileupload/">案例1：单文件上传操作实现</a>
            <label class="tooltip">使用Django框架快速实现单文件上传操作</label>
        </li>
        <li>
            <a href="/app/multiupload/">案例2：多文件上传操作实现</a>
            <label class="tooltip">使用Django框架快速实现一次性批量处理多个数据文件上传的操作</label>
        </li>
    </ul>
</body>
</html>