<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>案例2：多文件上传</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
</head>
<body>
    <h1>案例2：多文件上传</h1>
    <ul>
        <li><label class="tooltip">表单输入元素（文件选择器）name 属性必须一致；</label></li>
    </ul>
    <!-- 文件上传表单 -->
    <form id="multiuploadForm" name="multiuploadForm" method="post" enctype="multipart/form-data" action="/app/multiupload/">
        {% csrf_token %}
        <!-- 提示信息 -->
        <label class="input_font">上传文件1：</label>
        <!-- 表单输入元素文件域组件（本地文件选择器） -->
        <input type="file" id="uploadFile1" name="uploadFile" required/><br/>
        <!-- 提示信息 -->
        <label class="input_font" style="margin-top:5px;">上传文件2：</label>
        <!-- 表单输入元素文件域组件（本地文件选择器） -->
        <input type="file" style="margin-top:5px;" id="uploadFile2" name="uploadFile" required/><br/>
        <!-- 提交按钮 -->
        <button type="submit"  style="margin-top:15px;" class="btnsubmit">上传</button>
    </form>
    <!-- 服务器响应信息提示 -->
    <label class="success_msg">{{ success_msg }}</label>
    <label class="error_msg">{{ error_msg }}</label>
</body>
</html>